{% extends "base.html" %}

{% load static %}
{% block page_content %}

<div class="col-md-8 offset-md-2">

    <div class="col-md-8">
         <img src="{% static '/img/jude.jpg' %}" width="50%" height="60%" style="vertical-align:middle;margin:5px 50px"><br>
    </div>
<div class="col-md-8 offset-md-2">
          <h2 >Hi! It's Jude</h2>
    <p>I'm a backend web developer and a tech enthusiast.
         Kindly checkout my <a href="{% url 'blog_index' %}" >Blog</a> to explore tech related content.<br>


    </p>
    <h4></h4>
    <p>You can connect with me through any of the social media below</p>



        <div class="about">
            <!-- social media icons -->
            <div class="social-icons mt-4">
                <a href="https://www.facebook.com/kehinde.ayokunmi" target="_blank"><i class="fab fa-facebook"></i></a>
                <a href="https://www.instagram.com/judekennywise" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://www.twitter.com/judekennywise" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="https://www.linkedin.com/in/jude-oyedele-339aa3231" target="_blank"><i class="fab fa-linkedin"></i></a>
                <a href="https://www.github.com/judekennywise" target="_blank"><i class="fab fa-github"></i></a>
                 <a href="https://wa.link/q7r2c3" target="_blank"><i class="fab fa-whatsapp"></i></a>
            </div>
            <p>Thanks for visiting.</p>
        </div>
</div>

</div>
{% endblock %}