{% extends "base.html" %}


{% block page_content %}

<div class="about">
    <img src="https://scontent.flos1-2.fna.fbcdn.net/v/t39.30808-6/264369925_2174268549397031_3979142829630566948_n.jpg?stp=c0.23.206.206a_dst-jpg_p206x206&_nc_cat=104&ccb=1-7&_nc_sid=da31f3&_nc_eui2=AeFlEgKuy8_C5pGfNDyqIIQYW1lVwzm36MdbWVXDObfox6H4D-jkDXCFTUnDZ54YSvfWqexk8qt3-3-MjWUUqIsy&_nc_ohc=kq3XBisrsJUAX9iwets&_nc_zt=23&_nc_ht=scontent.flos1-2.fna&oh=00_AT-yxIAobgxoruaKONLNVNz--7h-pF_zY6Z7iBJvEdD_9A&oe=62F35867" alt="jude picture"><br>
    <h2>Hi! It's Jude</h2>
    <p>I'm a backenend web developer and a tech-enthusiast.

    </p>
    <h4></h4>
    <p>You can connect with me through any of the social media below</p>
</div>


        <div class="about">
            <!-- social media icons -->
            <div class="social-icons mt-4">
                <a href="https://www.facebook.com/kehinde.ayokunmi" target="_blank"><i class="fab fa-facebook"></i></a>
                <a href="https://www.instagram.com/judekennywise" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://www.twitter.com/judekennywise" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="https://www.linkedin.com/jude-oyedele-339aa3231" target="_blank"><i class="fab fa-linkedin"></i></a>
                <a href="https://www.github.com/judekennywise" target="_blank"><i class="fab fa-github"></i></a>
                 <a href="https://wa.link/q7r2c3" target="_blank"><i class="fab fa-whatsapp"></i></a>
            </div>
        </div>



{% endblock %}