{% extends "base.html" %}

{% block page_content %}
<!-- about section-->
<div class="container">
    <section id="about">
        <div class="container mt-4 pt-4">
            <h1 class="text-center">About Me</h1>
            <div class="row mt-4">
                <div class="col-lg-4">
                    <img src="https://scontent.flos1-2.fna.fbcdn.net/v/t39.30808-6/264369925_2174268549397031_3979142829630566948_n.jpg?stp=c0.23.206.206a_dst-jpg_p206x206&_nc_cat=104&ccb=1-7&_nc_sid=da31f3&_nc_eui2=AeFlEgKuy8_C5pGfNDyqIIQYW1lVwzm36MdbWVXDObfox6H4D-jkDXCFTUnDZ54YSvfWqexk8qt3-3-MjWUUqIsy&_nc_ohc=kq3XBisrsJUAX9iwets&_nc_zt=23&_nc_ht=scontent.flos1-2.fna&oh=00_AT-yxIAobgxoruaKONLNVNz--7h-pF_zY6Z7iBJvEdD_9A&oe=62F35867" class= "imageAboutPage" alt="">
                </div>

                <div class="col-lg-8">
                    <p>
                        I am Jude Kehinde Oyedele,
                        A backend developer, tech-enthusiast. <br>
                        <h3>Teachnogies</h3>
                    Python, Django



                    <div class="row mt-3">
                        <p>

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblok %}
 <!-- footer section-->
