{% extends "base.html" %}
{% load static %}
{% block page_content %}
<h1>Projects</h1>
<div class="col-md-8 offset-md-2">
{% for project in projects %}
    <div class="card" style="display: inline-flex; width : 18rem">
        <div class="card mb-2" style="display: inline-flex; width : 18rem">
            <img src="{{ project.image.url }}" class="card-img-top img-fluid" alt="{{ project.title }}" width="60" height="60%">
            <div class="card-body">
                <h5 class="card-title">{{ project.title }}</h5>
                <a href="{% url 'project_detail' project.pk %}"
                   class="btn btn-primary">
                    View details
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}